*.idea
*.o
*.a
*.dbg
*.dmp
*.tmp
*.sym
*.bsym
*.exe
*.gz
*.save*
*.img
*.project
*.cproject
*.vs
*.settings
os_image.img.lock
.deps/
bx_enh_dbg.ini
bochsrc.bxrc
kernel/kernel
bin/
/build/
lib/librust/target
